.container{
    width: 570px;
    height: 341px;
    display: flex;
    border: 1px solid silver;
    margin-left: 30%;
    margin-top: 100px;
    

    
}
.contai-ui{
    display: flex;
    padding: 25px;

}
.basic-image{
    width: 248px;
    height: 290px;
    

}
.text{
    padding-left: 40px;

}
.text-head{
    font-weight: 600;

}
.text-proper{ 
    font-weight: 400;

}