.container-row{
  margin: 30px;

}
.picture{
  width: 500px;
  height: 500px;
}
.col-1{
  float: left;
 
  display: block;
}
.col-2{
  float: right;
 
  display: block;
  
}
.component{
  border: 3px solid rgb(166, 177, 207);
  margin-top: 15px;
}
.button{
  background-color: rgb(144, 190, 175);
  border-color: rgb(191, 231, 231);
  width: 150px;
  height: 30px;
}
.text{
  padding-left: 10px;
}