.timer{
    margin: 70px 30%;
    width: auto;
    height: auto;
    background-color: rgb(186, 219, 208);
    border-radius: 20px;

}
.container{
    text-align: center;
}
.restart ,.stop {
    width: 100px;
    height: 40px;
    background-color: aquamarine;
    color: brown;
    border-radius: 10px;
   
}

